<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>

    <link rel="stylesheet" type="text/css" href="static/main.css">

    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css">
</head>

<body style="background-color: whitesmoke; ">
    <header>
        <nav class="navbar navbar-light " style="background-color:#2A283E; ">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/home_after_login" style="color: whitesmoke; font-family: 'Spartan' ; font-size:30px">LTU Transport Dashboard.</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/home_after_login">Home</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/">sign out</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/journey"><span class="glyphicon glyphicon-user"></span> Enter your journey details</a></li>
                    
                </ul>
            </div>
        </nav>
    </header>
    <section>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </section>
</body>
    

</html>