{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/main.css">
<div class="row">
    <div class="col-lg-6" style="padding:20px;">
        Welcome to the LTU transport dashboard.
    </div>
    <div class="col-lg-6" style="padding:20px;">
     
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div>
            <canvas id="myChart"></canvas>
            <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                    labels: {{ labels| tojson}},
            responsive: true,
            datasets: [{
            label: 'Distance travelled by transport type',
                data: {{ values| tojson}},
                maintainAspectRatio: false,
            backgroundColor: ['#2A283E',
'#0E8D61',
'#0AC679',
'#F5EA43',
'#E03F09']
                }]
            }
        });
    console.log({{values|tojson}});
            </script>
            <article style=" border: 1px solid lightgrey;  border-radius: 10px; text-align:center;">
                <h4><a href="/">Distance by travel type</a></h4>
                <p style="text-align:center;  ">
                   
                        This chart shows distance travelled by different modes of transport.
                        Each type is given a different color and its distance travelled displayed on the chart.
                    
                </p>
            </article>
        </div>
    </div>
    <div class="col-sm-6">
        <div>
            <canvas id="myChart2"></canvas>
            <script>
            var ctx = document.getElementById('myChart2').getContext('2d');
            var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                    labels: {{ labels| tojson}},
            responsive: true,
            datasets: [{
            label: 'Carbon output over the past year',
                data: {{ values| tojson}},
                maintainAspectRatio: false,
            backgroundColor: ['#0AC679']
                }]
            }
        });
    console.log({{values|tojson}});
            </script>
            <article style=" border: 1px solid lightgrey;  border-radius: 10px; text-align:center;">
                <h4><a href="/">Carbon output over the past year</a></h4>
                <p >
            
                        This chart shows the transport carbon output over the past 12 months.
       
                </p>
            </article>
        </div>
    </div>
</div> 

<div class="row">
    <div class="col-sm-6">
        <canvas id="myChart4"></canvas>
        <script>
            var ctx = document.getElementById('myChart4').getContext('2d');
            var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                    labels: {{ labels| tojson}},
            responsive: true,
            datasets: [{
            label: 'Carbon output by transport type',
                data: {{ carbon| tojson}},
                maintainAspectRatio: false,
            backgroundColor: ['#2A283E',
'#0E8D61',
'#0AC679',
'#F5EA43',
'#E03F09']
                }]
            }
        });
    console.log({{values|tojson}});
        </script>
        <article style=" border: 1px solid lightgrey;  border-radius: 10px;text-align:center;">
            <h4><a href="/">Carbon output by travel type (grams)</a></h4>
            <p style="text-align:center;  ">
              
                    This chart shows the total carbon output by each mode of transport to and from the university based on averages of carbon in grams per mile.
            
            </p>
        </article>
    </div>
    <div class="col-sm-6">
        <canvas id="myChart5"></canvas>


        <script>
            var ctx = document.getElementById('myChart5').getContext('2d');
            var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                    labels: {{ labels| tojson}},
            responsive: true,
            datasets: [{
            label: 'Distance travelled by transport type',
                data: {{ values| tojson}},
                maintainAspectRatio: false,
            backgroundColor: ['#2A283E',
'#0E8D61',
'#0AC679',
'#F5EA43',
'#E03F09']
                }]
            }
        });
    console.log({{values|tojson}});
        </script>
        <article style=" border: 1px solid lightgrey;  border-radius: 10px;text-align:center; ">
            <h4><a href="/">Number of journeys per by transport type</a></h4>
            <p style="text-align:center;  ">
              
                    This chart shows the number of journeys to and from the university travelled by different modes of transport.
         
            </p>
        </article>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="container">
            <blockquote cite="Leeds Trinity 2020">
                The University recognises that it has a responsibility to the environment beyond legal and regulatory requirements.
                We are fully committed to reducing our environmental impact through our business activities.
                We are incorporating sound environmental and sustainability management policies and practices, which will include continually improving aspects of both performance and delivery.
            </blockquote>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="container">
            <blockquote cite="Leeds Trinity 2020">
                "Leeds Trinity provides a free shuttle bus as part of our travel plan and operates a car share scheme to encourage people to avoid or lessen the impact of vehicles on site.

                We also have car electric charging points in our car parks."
            </blockquote>
        </div>
    </div>
</div>


   

    {% endblock %}

